@model wompsmash.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model=>model.Title)</h2>
<h3>@Html.DisplayFor(model=>model.PublishDate)</h3>
<div>
    <hr />

            @Html.Raw(Model.Content)

    <p>Written by: @Html.DisplayFor(model=>model.Author.FirstName) @Html.DisplayFor(model=>model.Author.LastName)</p>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
